body {
    margin: auto;
    width: 80%;
    background-color: var(--background-color, #001440);
}
nav ul, footer ul {
    font-family:'Verdana', 'Geneva', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color: var(--accent-color, #b666d2);
}
li {
    font-family:'Verdana', 'Geneva', 'Sans-Serif';
    display: block;
    margin-right: 20px;
    color: var(--accent-color, #b666d2);
}

.footerList {
    font-family:'Verdana', 'Geneva', 'Sans-Serif';
    display: flex;
    margin-right: 20px;
    color: var(--accent-color, #b666d2);
}

a, b {
    font-family:'Verdana', 'Geneva', 'Sans-Serif';
    color: var(--accent-color, #b666d2);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.companyName {
  font-family:'Verdana', 'Geneva', 'Sans-Serif';
  font-size: 1.5em;
  text-shadow: 2px 2px #b666d2, 0 0 0.4em #ff5a36;
  color: var(--accent-color, #9fe2bf);
}


h1 {
    font-size: 3em;
    font-family:'Verdana', 'Geneva', 'Sans-Serif';
    text-shadow: 2px 2px #b666d2, 0 0 0.2em #9fe2bf;
    color: var(--main-color, #ff5a36);
}
h2 {
    font-size: 2em;
    font-family:'Verdana', 'Geneva', 'Sans-Serif';
    text-shadow: 2px 2px #b666d2, 0 0 0.2em #9fe2bf;
    color: var(--main-color, #ff5a36);
}

p {
    font-family:'Verdana', 'Geneva', 'Sans-Serif';
    font-size: 1.5em;
    text-shadow: 2px 2px #b666d2, 0 0 0.4em #ff5a36;
    line-height: 1.4em;
    color: var(--secondary-color, #9fe2bf);
}
footer {
    font-family:'Verdana', 'Geneva', 'Sans-Serif';
    border-top: 1px solid ;
    font-size: .8em;
}

select {
  width: 150px;
  height: 25px;
  font-size: 15px;
  font-family: 'Verdana', 'Geneva', 'Sans-Serif';
  background-color: var(--accent-color, #b666d2);

}

option {
    color: var(--main-color, #ff5a36);
}
