<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script type="text/javascript" src="/js/main.js"></script>
		</head>
		<body id="background">
			<nav>
	    		<ul>
		        <select onchange="changeTheme(this.selectedIndex)">
						  <option>Dreamscape</option>
						  <option>Dubble Bubble</option>
							<option>Strokes Logo</option>
						</select>
			</nav>
			<div class="container">

			{{ content }}

			</div>
			<footer>
	    		<ul class="footerList">
	        		<li><a href="mailto:willc417@gmail.com">email</a></li>
	        		<li><a href="https://github.com/willc417">github.com/willc417</a></li>
	        		<li><a href="https://www.linkedin.com/in/will-clinton-4a5b32108/">LinkedIn</a></li>
				</ul>
			</footer>
		</body>
	</html>
