<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<!-- <li><a href="/cv">CV</a></li>
	        		<li><a href="/projects">projects</a></li> -->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:willc417@gmail.com">email</a></li>
	        		<li><a href="https://github.com/willc417">github.com/willc417</a></li>
	        		<li><a href="https://www.linkedin.com/in/will-clinton-4a5b32108/">LinkedIn</a></li>
				</ul>
			</footer>
		</body>
	</html>
